spring:
  application:
    name: AgentJ_backend
  profiles:
    active: dev
  ai:
    dashscope:
      # API key 配置在 application-dev.yml 中
      chat:
        options:
          model: qwen-flash

server:
  port: 10000
  servlet:
    context-path: /api

# springdoc-openapi 接口文档配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.wangliang.agentj.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn