spring:
  application:
    name: AgentJ_backend
  profiles:
    active: dev
  ai:
    dashscope:
      # API key 配置在 application-dev.yml 中
      chat:
        options:
          model: qwen-flash
    memory:
      mysql:
        enabled: true
server:
  port: 8080

# springdoc-openapi 接口文档配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.wangliang.agentj.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn

agent:
  init: true

namespace:
  value: default

# 禁用自动打开浏览器
lynxe:
  general:
    openBrowser: false
